<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IBarba"
        tools:targetApi="31">
        <activity
            android:name=".tela_Relatorio_2"
            android:exported="false" />
        <activity
            android:name=".tela_Relatorio_1"
            android:exported="false" />
        <activity
            android:name=".tela_Cadastro_usuario_novo"
            android:exported="false" />
        <activity
            android:name=".tela_Cadastro_usuario_editar"
            android:exported="false" />
        <activity
            android:name=".tela_Cadastro_usuario"
            android:exported="false" />
        <activity
            android:name=".tela_Atendimento_profissional"
            android:exported="false" />
        <activity
            android:name=".tela_Agendamentos_profissional"
            android:exported="false" />
        <activity
            android:name=".tela_Precos_cliente"
            android:exported="false" />
        <activity
            android:name=".tela_Agendar_cliente"
            android:exported="false" />
        <activity
            android:name=".tela_Horarios_profissional"
            android:exported="false" />
        <activity
            android:name=".tela_Menu_profissional"
            android:exported="false" />
        <activity
            android:name=".tela_Menu_relatorio"
            android:exported="false" />
        <activity
            android:name=".tela_Cadastro_profissional_novo"
            android:exported="false" />
        <activity
            android:name=".tela_Cadastro_profissional_editar"
            android:exported="false" />
        <activity
            android:name=".tela_Cadastro_profissional"
            android:exported="false" />
        <activity
            android:name=".tela_Cadastro_servico_novo"
            android:exported="false" />
        <activity
            android:name=".tela_Cadastro_servico_editar"
            android:exported="false" />
        <activity
            android:name=".tela_Cadastro_servico"
            android:exported="false" />
        <activity
            android:name=".tela_Autocadastro_cliente"
            android:exported="false" />
        <activity
            android:name=".tela_Menu_gestor"
            android:exported="false" />
        <activity
            android:name=".tela_Cortes"
            android:exported="false" />
        <activity
            android:name=".tela_Agendamentos_cliente"
            android:exported="false" />
        <activity
            android:name=".tela_Menu_cliente"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>